{
    "env": {
        "browser": true,
        "jasmine": true
    },
    "extends": ["airbnb", "prettier", "prettier/react"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js"]
            }
        ],
        "react/prop-types": [1, { "ignore": ["children"] }],
        "no-underscore-dangle": 0,
        "no-unused-vars": 1,
        "react/state-in-constructor": 1,
        "no-plusplus": 0,
        "react/jsx-props-no-spreading": 1
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["client/src"],
                "extensions": [".js"]
            }
        }
    }
}
